* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}

/* NAVBAR */

nav {
    background: #1e3a8a;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* HERO */

.hero {
    background: #2563eb;
    color: white;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.search-box {
    margin-top: 20px;
}

.search-box input {
    padding: 10px;
    width: 200px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    background: #facc15;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.search-box button:hover {
    background: #eab308;
}

/* SECTIONS */

section {
    padding: 30px;
}

section h2 {
    margin-bottom: 15px;
}

.skills button {
    margin: 5px;
    padding: 8px 15px;
    border: 1px solid #2563eb;
    background: white;
    color: #2563eb;
    border-radius: 20px;
    cursor: pointer;
}

.skills button:hover {
    background: #2563eb;
    color: white;
}

/* JOBS */

#addJobBtn{
    padding: 10px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#addJobBtn:hover{
    background: #1e40af;
}


.delete-btn{
    margin-top: 5px;
    padding: 8px 15px;
    background: #dc2626;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover{
    background: #b91c1c;
}


.jobs {
    background: #eef2ff;
}

.job-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.job-card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.job-card:hover {
    transform: translateY(-5px);
}

.apply-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover {
    background: #15803d;
}

/* COMPANIES */

.companies {
    text-align: center;
}

.company-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}

.company-list div {
    padding: 15px 20px;
    background: #f1f5f9;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.company-list div:hover {
    background: #2563eb;
    color: white;
}

/* FOOTER */

footer {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
